.Advantage {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 2vmax;
    align-items: center;
    padding: 0 25px;
    margin-bottom: 3vmax;
    margin-top: 1vmax;
}

.Advantage_Icon {
    width: 125px;
    height: 125px;
    fill: #ff5500;
    border-radius: 100%;
    border: 2px solid #ff5500;
    padding: 16px;
}

.Advantage_Text {
    text-align: center;
    font-size: clamp(1rem, 0.9769rem + 0.1026vw, 1.1rem);
    line-height: 1.55;
    color: #221508;
    font-weight: 300;
    font-family: 'TildaSansLight', sans-serif;
}
